@media (max-width: 991px) {
    .portfolio-content .grid-item {
        width: calc(100% / 2);
    }
}
@media (max-width: 567px) {
    .portfolio-content .grid-item {
        width: 100%;
    }
}
@media (max-width: 991px) {
    .portfolio-box-01 .portfolio-info h5 {
        font-size: 20px;
    }
}