@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400..800&display=swap");

body {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
}

#home {
    padding: 100px 0;
}

.navbar-brand {
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 600;
}
.navbar-toggler {
    border: none;
    border-radius: 0px;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    width: 40px;
    background-color: #d9832e;
}

.ht-text {
    h6,
    h1,
    h2,
    & > p {
        margin-bottom: 15px;
    }
    h2 {
        font-size: 18px;
    }
    p {
        color: rgba(9, 10, 12, 0.8);
    }
}
.btn-bar {
    margin-top: 40px;
}
.m-btn {
    margin-top: 20px !important;
    background-color: #d9832e;
    border-color: #d9832e;
    border: 2px solid transparent;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    min-width: 120px;
    margin-right: 12px;
}
.m-btn-t-theme {
    background-color: transparent;
    color: #d9832e;
    border-color: #d9832e;
}

#about {
    padding: 80px 0;
    background-color: #eaedf2;
}

.about-me-img {
    border: 14px solid #ffffff;
    border-radius: 5px;
    position: relative;
    img {
        max-width: 100%;
    }
    .social-icon {
        display: flex;
        flex-wrap: wrap;
        width: 50px;
        position: absolute;
        top: 20px;
        left: -10px;
        background: #ffffff;
        padding: 8px;
        a {
            width: 34px;
            height: 34px;
            line-height: 34px;
            text-align: center;
            background: #d9832e;
            color: #ffffff;
            margin: 3px 0;
        }
    }
}
.abouth3 {
    font-weight: 700;
    font-size: 35px;
    margin: 0 0 10px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    z-index: 1;
    padding: 0 0 10px;
}
.abouth3 + p {
    font-size: 14px;
    letter-spacing: 2px;
}

.about-me {
    h4 {
        font-weight: 600;
        font-size: 30px;
        margin: 20px 0 10px;
        color: #090a0c;
    }
    h6 {
        color: #090a0c;
        font-weight: 400;
        margin: 0 0 20px;
    }
    
}
.media {
    display: flex;
    padding: 6px 0;
    label {
        margin: 0;
        color: #090a0c;
        font-weight: 500;
        font-size: 14px;
        flex: 0 0 90px;
        border-right: 1px solid #c1c1c1;
        max-width: 90px;
    }
    p {
        padding-left: 15px;
        margin-bottom: 0;
    }
}

.sech3 {
    font-weight: 700;
    font-size: 35px;
    margin: 0 0 10px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    z-index: 1;
    padding: 0 0 10px;
    letter-spacing: 2px;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        margin: auto;
        height: 2px;
        z-index: -1;
        background: #d9832e;
        width: 50px;
    }
}

.skill-lt {
    margin-top: 30px;
    &:last-child {
        margin-bottom: 30px;
    }
}
.skill-lt .skill-bar {
    position: relative;
    background: #eee;

    .skill-bar-in {
        transition: ease all 0.55s;
        height: 5px;
        position: relative;
        span {
            position: absolute;
            right: 0;
            top: -30px;
            font-size: 14px;
        }
    }
}

.feature-box-2 {
    padding: 18px 15px;
    border-radius: 5px;
    background: #ffffff;
    border: 2px solid #d9832e;
    box-shadow: 0px 30px 60px 0px rgba(38, 59, 94, 0.1);
}

.l-92 {
    width: 92%;
}
.l-75 {
    width: 75%;
}
.l-86 {
    width: 86%;
}
.l-88 {
    width: 88%;
}

.m-15px-tb {
    margin-top: 15px;
    margin-bottom: 15px;
}

.feature-box-2 .icon {
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #d9832e;
}
.feature-box-1 .icon {
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    border: 2px dotted #d9832e;
    color: #d9832e;
    font-size: 32px;
    margin-bottom: 22px;
    font-family: "et-line";
}
.feature-box-1 {
    padding: 40px 30px;
    background: #ffffff;
    border: 1px solid #eee;
    border-radius: 5px;
    position: relative;
    top: 0;
    transition: ease all 0.35s;
}


